.container
  width: 90%
  max-width: 1300px
  margin: auto
  
.row
    display: flex
    align-items: flex-start
    justify-content: space-between
    flex-wrap: wrap

.col
  &-31
    flex-basis: 31%
    max-width: 392px
  &-50
    width: 50%